/node_modules/
/yarn.lock
/.idea
/.history
/box.dat
/CookieSet.json
/jdCookie.js
/logs
/JD_DailyBonus.js
/result.txt
.DS_Store
*.js
jd_share.js
*.js
jd_wxShopFollowActivity.js
jd_wxShopFollowActivity.js
